
	body{
		background-color: rgba(200, 200, 200, .5); 
		margin: 0px;
		font-size: 15px;
		font-family: "Calibri", Tahoma, sans-serif;
		background-image: url("img/webground.jpg");
		
	}

	#main-content{
		position: absolute;
		width: 500px; 
		height: 400px;
		background-color: rgba(180, 180, 180, .70);
		top: 110px;
		right: 100px;
	}
	
	#top-bar{
		position: relative; 
		top: 0px;
		width: 100%;
		height: 65px;
		background-color: rgba(50, 50, 50, .85);
		margin: 0px;
	}

	#top-bar ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	#top-bar li {
		float: left;
		opacity: .5;
		transition: opacity .1s ease-in-out;
	}

	#top-bar p {
		display: block;
		width: 150px;
		font-weight: bold; 
		color: rgba(230, 230, 230, 1);
		text-align: center;
		padding: 12px;

	}

	.arrow {
		width: 0; 
		height: 0; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid rgba(50, 50, 50, .85);
		top: 65px;
		transition: transform .5s ease-in-out;
	}

	#logo {
		position: absolute;
		bottom: 0px;
		left: 0px;
	}

	#disconnect-button{
		position: absolute;
		bottom: 2px;
		right: 2px;
		height: 30px;
		width: 100px;
		background-color: rgb(50, 50, 50);
		opacity: .25;
		line-height: 0px;
		text-align: center;
		cursor: pointer;
	}

	#disconnect-button p{
		color: white;
	}

	#title{
		padding-top: 50px;
		text-align: center;
		line-height: 20px;
	}

	#title p{
		color: white;
		font-size: 35px;
	}

	#search{
		position: absolute;
		width: 120px;
		height: 120px;
		bottom: 55px;
		left: 120px;
	}

	#search img{
		position: absolute;
		width: 100%;
		height: 100%;
		filter: brightness(0) invert(1);
	}

	#file-list{
		position: absolute; 
		width: 230px;
		height: 360px;
		background-color: rgba(245, 245, 245, .6); 
		top: 20px;
		left: 15px;

	}

	.list-container{
		height: 300px;
		/*background-color: red;*/
		overflow: auto;
	}

	#file-list ul{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
		padding-top: 10px;
	}

	#file-list li{
		display: block;
		height: 18px;
		margin-left: 5px;
		overflow: hidden;
		padding-right: 6px;
	}

	#file-list li .validation{
		height: 13px;
		width: 13px;
		float: right;
		border-radius: 50%;
		border: 1px solid rgba(50, 50, 50, .3);

	}

	#file-list li .x-button{
		height: 11px;
		width: 11px;
		float: left;
		border-radius: 50%;
		font-color: ;
		background-color: rgba(50, 50, 50, .5);
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
	}

	#file-list li .x-button p{
		top:0px;
		line-height: 0px;
		font-size: 7px; 
		color: rgba(255, 255, 255, .9);
		margin-top: 6px;
	}

	#file-list li .spacer{
		height: 8px;
		width: 8px;
		float: left;
	}


	#file-list button{
		position: absolute;
		bottom: 20px;
		left: 70px;
		width: 100px;
		height: 30px;
	}

	.message-box{
		position: absolute;
		height: 130px;
		width: 225px;
		right: 15px;
		background-color: rgba(250, 250, 250, .6);
		text-align: center;
		vertical-align: middle;
	}

	#file-info p{
		margin-top: 35px;
	}

	#file-info{
		top: 20px;
		line-height: 30px;
	}

	#hearme-info{
		bottom: 105px;
		line-height: 21px;
	}


	#upload-button button{
		position: absolute;
		width: 225px;
		height: 68px;
		bottom: 20px;
		right: 15px;
		font-size: 16px;

	}

	#progress-bar{
		position: absolute;
		width: 80%;
		height: 50px;
		bottom: 100px;
		right: 10%;
		background-color: rgba(250, 250, 250, .6);
		margin: 0px;
		overflow: hidden;
	}

	.bar{
		width: 100%; 
		height: 100%;
		background-color: rgba(50, 50, 50, .3);
		transform: translateX(-100%);
	}

	.bar img{
		width: 100%;
		height: 100%;
		opacity: .15;
	}

	.log{
		position: absolute;
		width: 150px;
		height: 100px;
		top: 100px;
		left: 170px;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
	}

	.log{
		color: white;
		font-size: 30px;
	}

	#complete-screen {
		text-align: center;
		line-height: 45px;
		vertical-align: middle;
	}

	#complete-screen p{
		margin-top: 25px;
		color: white;
		font-size: 20px;
		vertical-align: middle;
	}

	#complete-screen .option{
		position: absolute;
		width: 150px;
		height: 115px; 
		bottom: 55px;
		background-color: rgb(50, 50, 50);
		opacity: .45;
		border-radius: 10px;
		line-height: 30px;
	}

	#complete-screen .option p{
		margin-top: 28px;
		font-size: 17px;
	}

	#complete-screen #first{
		left: 73px;
	}

	#complete-screen #second{
		right: 73px;
	}

	#error{
		text-align: center;
		line-height: 65px;
		vertical-align: middle;
	}

	#error p{
		margin-top: 125px;
		color: white;
		font-size: 28px;
		vertical-align: middle;
	}



















